name: Java Build & Docker Push

on:
  push:
    branches: [ "main" ] # main 브랜치에 코드가 올라오면 실행

jobs:
  build-and-push:
    runs-on: ubuntu-latest # GitHub가 제공하는 컴퓨터 사용

    steps:
      - name: 코드 가져오기
        uses: actions/checkout@v3

      - name: JDK 17 설치
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle 빌드 (테스트 제외)
        run: ./gradlew bootJar -x test

      - name: 도커 허브 로그인
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 도커 이미지 빌드 및 푸시
        # 본인_도커허브_아이디 부분을 꼭 수정하세요!
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/kotlin-board:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/kotlin-board:latest